:root {
	--background-cabecalho:#BBBBBB;
	--fonte-cabecalho: black;
	--fonte-cabecalho-selecao: #C78C19;
	--background-cabecalho-selecao: #d6d4d4;
	--botao: #726bac;
	--botao-sombra:#c4bef8;
	--background-imc-cabecalho: #a09cc7;
	--background-imc-corpo: #eceaf8;
}

*{
	box-sizing: border-box;
 }

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

header{
	background-color: var(--background-cabecalho);
	height: 7em;
	color: var(--fonte-cabecalho);
	margin-bottom: 1em;
}

.titulo__header{
	font-size: 2.2em;
	display:inline-block;
	vertical-align: middle;
	font-weight: bold;
}

nav {
	position:absolute;
	top: 43px;
	right: 150px;
}


nav li {
	display: inline;
	margin: 0 0 0 50px;
}


.menu {
	text-transform: uppercase;
	color: var(--fonte-cabecalho);
	font-weight:700;
	font-size: 15px;
	text-decoration: none;
	padding: 1em;
	border-radius: 5px;
}

.menu:hover {
	text-decoration: none;
	background-color:var(--background-cabecalho-selecao);
}


header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

.titulo__secundario {
	font-size: 2em;
	display: block;
	padding-top: 0.7em;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

.filtro__tabela{
	border-radius: 5px; 
	margin: 0;
	border: 1px solid #ccc;
	padding: .7em;
	
}

.titulo__filtro{
	color: #555;
	display: block;
	margin-bottom: .6em;
	font-size: 15px;
}

table{
	width: 100%;
	margin-bottom : 2em;
    table-layout:auto;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
	width: 20%;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
	border-radius: 5px;
}

.formulario__imc{
	display: grid;
	width: 100%;
	column-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: auto;
	display: inline-block;
	padding: 10px 0px;
}

.bto-principal{
	padding: 0.5em 2em;
	border: 0;
	font-size: 1.2em;
	cursor: pointer;
	color: #fff;
	background-color:var(--botao);
	border-radius: 5px;
	width: 90%;
    display: inline-block;
    clear: both;
    margin: 15px 0px;
	box-shadow: 0 3px var(--botao-sombra);
	margin-left: 5px;

}

.bto-principal:hover{
	transform: scale(1.04);
}

.bto-principal:active{
	margin-top:0px;
	border: 0;
}

.bto-principal[disabled=disabled], .bto-principal:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 40px;
}

.campo-invalido{
	border: 1px solid red;
}

/*Criada para usar no JS*/
.paciente-invalido{
	background-color: lightcoral;
}

#mensagens-erro{
	color: red;
	padding: 0 0;
	line-height: 1.3em;
}

/* Criada para usar no remover-paciente.js */
.fadeOut{
	opacity: 0;
	transition: 0.5s;
}

#filtrar-tabela {
	width: 255px;
	height: 35px;
	margin-bottom: 10px;
}

/*Criada para usar no filtra.js */
.invisivel {
	display: none;
}

.th__imc{
	background-color: var(--background-imc-cabecalho);
}

.info-imc{
	background-color: var(--background-imc-corpo) ;
}

footer {
	background-color: var(--background-cabecalho);
	height: 10em;
	margin-top: 3em;
	text-align: center;
	
}

.copyright{
	margin-top: 7em;
	position:absolute;
	margin-left: 40%;
}

form label, form legend {
	display: block;
	font-size: 15px;
	margin: 0 0 10px;
}

form {
	margin: 30px 0px;
}

.input-padrao {
	display: block;
	margin-bottom: 15px;
	padding: 10px 25px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.checkbox {
	margin: 20px 0;
}

.container__contato{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content:space-between;
	width:100%;
	padding: 0 10%;
	gap: 0 20px;
}

.container__botao{
	grid-column: span 2;
	text-align:center;
	width: 100%;
}

.botao{
	width: 30%;
	margin: 0px 0px 30px 0;
}

.legenda__fieldset{
	padding-top: 25px;

}

fieldset{
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	padding: 10px;
	font-size: 15px;
}

fieldset label{
	padding: 3px;
}

select{
	width: 100px;
	height: 28px;
	margin-bottom: 20px;
}

.container__titulo-secundario{
	grid-column: span 2;
	width: 100%;
}

.lista__icones{
	display: flex;
	justify-content:center;	
}

.lista__icones li{
	padding: 30px 30px;
}

.lista__icones li:hover{
	transform: scale(1.1);
}

.container__imagem-imc{
	padding-top: 20px;
	display: flex;
	justify-content: center
}

/*Estilizando o nav para a pagina corrente*/
body#pag-imc a#a-imc {
	text-decoration: none;
	background-color:var(--background-cabecalho-selecao);
}

/*Estilizando o nav para a pagina corrente*/
body#pag-contato a#a-contato{
	text-decoration: none;
	background-color:var(--background-cabecalho-selecao);
}

/*Estilizando o nav para a pagina corrente*/
body#pag-index a#a-index{
	text-decoration: none;
	background-color:var(--background-cabecalho-selecao);
}

#nomesobrenome::placeholder {
	color:coral;
}

#email::placeholder {
	color:coral;
}

#telefone::placeholder {
	color:coral;
}

.input-padrao::placeholder{
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

.paragrafo__sobre-mim {
	line-height: 2em;
	padding: 10px;
	float: right;
	shape-outside: circle();
}

.imagem_julia{
	border-radius: 50%;
	margin: 0 20px;
}

.container__img-paragrafo{
	display: flex;
	align-items: center;
	padding: 20px 0;
}

/*Fazendo o slider*/
.slider {
    display: block;
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

/*Fazendo o slider*/
.slider li {
    list-style: none;
    position: absolute;
}

/*Fazendo o slider*/
.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

/*Fazendo o slider*/
.slider input {
    display: none;
}

/*Fazendo o slider*/
.slider label {
    background-color: white;
    bottom: 200px;
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    width: 20px;
    z-index: 10;
	border-radius: 50%;
}

/*Fazendo o slider*/
.slider label:hover{
	transform: scale(1.2);
}

/*Fazendo o slider*/
.slider li:nth-child(1) label {
    left: 13px;
}

/*Fazendo o slider*/
.slider li:nth-child(2) label {
    left: 370px;
}

/*Fazendo o slider*/
.slider img {
    opacity: 0;
    visibility: hidden;
}

/*Fazendo o slider*/
.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.imagem__imc{
	width: 400px;
	height: 250px;
}